header {
    padding-top: 20px;
    text-align: center;
}

header #aboutMePic {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }

  #about {
      text-align: center;
  }

 